@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html,body {
  font-family:Montserrat;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  letter-spacing: 0.05em;
  transition:all 0.1s ease-out; /*Transition Speed Adjustment*/
}
a{
  text-decoration: none;
}
#nav-section{
  height: 75px;
  /*background-color:rgba(9,136,155,0.9);
  position: fixed;*/
  width: 100%;
}
header {
    height: 100%;
    background-color: rgba(9,136,155,0.9);
    background: url(../images/header-intro.jpg);
    background-size:cover;
}

.logo {
    fill: none;
    stroke: rgba(255, 255, 255, 0.7);
    stroke-width: 6;

    height: 50px;
    width: 50px;
    float: left;
    margin: 0.5em 0 0 1em;

}

.logo:hover{
  stroke: rgba(255, 255, 255, 0.6);
}

header nav {
    float: right;
    margin-right: 20px;
    margin: 1.7em 1em 0 0;

}
header nav a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.9);
}

header nav a:hover{
  color:rgba(255, 255, 255, 0.8);
}
.intro-content {
    margin-right: 5em;
    padding-top: 20em;
    float:right;
}
.intro-content h1 {
    font-size:3em;
    padding: 0.5em 0 0.5em 0.2em;
    color: white;
    letter-spacing: 0.1em;
    margin-bottom:0em;
}
.headline{
  background-color:#ED38AE;
  padding:0.5em 1em 0.5em 0.3em;
  border-radius: 5em;

}
.intro-content p {
    text-align: left;
    color: white;
    width:70%;
    margin-left:1em;
    font-family: Montserrat,Helvetica;
    font-weight: 300;
}
.watch-video img{
  float: left;
  margin-left:0.5em;
}
.watch-video {
    border-radius: 5em;
    width:180px;
    text-align: left;
    margin-left:1em;
    padding: 1em 1em;
    background-color: #2CBED1;
}
.watch-video-text {
    margin-left:3em;
    margin-top:0.1em;
    text-decoration: none;
    color: white;
    letter-spacing: 0.1em;
}

/*******What we offer Area Styles #####
################################### *****/
.what-we-offer-area{
  width:80%;
  align-content: center;
  margin: 0 auto;
  margin-bottom: 5em;
}

.what-we-offer-area h2{
  font-weight: 300;
  text-align: center;
  color: #7E7E7E;
  letter-spacing: 0.1;
  width: 200px;
  border-bottom:1px solid #7e7e7e;
  margin: 0 auto;
  margin-bottom: 1em;
  padding:1em 0;
}
.whole-offer{
  display: flex;/*Mobile Design Should change flex to another*/
  justify-content: space-around;
}
.offer-list{
  width:250px;
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
  height: 380px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;/*offer-img border radius should change*/
}

.offer-list:hover{
  filter: grayscale(0%);
  -webkit-filter:grayscale(0%);
  transform: scale(1.1);
  -webkit-transition: all 200ms cubic-bezier(0.525, 0.085, 0.075, 1.000);
   -moz-transition: all 250ms cubic-bezier(0.525, 0.085, 0.075, 1.000);
     -o-transition: all 250ms cubic-bezier(0.525, 0.085, 0.075, 1.000);
        transition: all 250ms cubic-bezier(0.525, 0.085, 0.075, 1.000);
}
.offer-img{

  width:100%;

  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.offer-content{
  width:90%;
  margin: 0 auto;
  color: #626262;
}

.offer-content h3{
  font-weight: 400;
}

.offer-content p{
  font-family: Helvetica;
  font-weight: 300;
  line-height: 1.3em;
  font-size: 0.9em;
  height: 100px;
  overflow: auto;
}

.offer-content a{

  color: white;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  padding:1em 2em;
  background-color: #2CBED1;
}

.offer-content h5{
  text-align: center;
}

/*******######Detail Section Design #####*******
))))))))))))))))))))))))))))))))))))))))))))))))****/

.detail-section{
  background:url(../images/surf-detail-image.jpg) center;
  height: 100%;
}

.detail-content{
  width:35%;
  height: 200px;
  padding-top:15em;
  padding-left: 2em;
}

.detail-content h2{

  color:white;
  font-weight: 400;
  font-family: "Slabo 27px";
  letter-spacing: 0.05em;
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

.detail-content p{
  font-family: Roboto,Helvetica;
  color: white;
  font-weight: 300;
  letter-spacing: 0.05em;
  font-size:1.2em;

}

/*******----________Recent Videos Designs-----______********/

.recent-videos-container{
  width:80%;
  height: 80%;
  margin: 0 auto;
  margin-bottom: 5em;
}
.recent-videos-container h2{
font-weight: 300;
text-align: center;
color: #7E7E7E;
letter-spacing: 0.1;
width: 200px;
border-bottom:1px solid #7e7e7e;
margin: 0 auto;
margin-bottom: 1em;
padding:1em 0;

}
.video-list{
  height: 80%;
}
.main-video{
  float: left;
  width: 60%;
}
.side-videos{
  width: 30%;
  height: 385px;
  float: right;
  overflow: auto;

}
.video-wrapper{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-wrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.all-videos-button{

  background-color:#4CC8D8;
  color: white;
  padding:1em 1.5em;
  font-weight: 300;
}

.recent-videos-container h5{
  padding-top:5em;
  text-align: center;
  clear: both;
}


/******-_____-----Testimonial Design ------_____
#######_______---------------------########-----***/

.testimonial-container{
  width:100%;
  height: 80%;
  background-color:#4CC8D8;
}

.testimonial-content{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.testimonial-text{
  width: 70%;

}

.testimonial-text blockquote{
  font-family: Georgia, serif,Helvetica;
  font-size: 1em;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.25em 2em;
  line-height: 1.5;
  position: relative;
  color: white;
}

.testimonial-text blockquote:before {
display: block;
content: open-quote;
font-size: 80px;
position: absolute;
left: -20px;
top: -25px;
color: white;
}

.testimonial-text blockquote cite {
color: white;
font-size: 1em;
display: block;
margin-top: 2em;
}

.testimonial-text blockquote cite:before {
content: "\2014 \2009";
}

.testimonial-image{
  width: 35%;
  height: 100%;
  overflow-y:visible;
  margin: 0 auto;

  -webkit-box-shadow: -78px -1px 85px -11px rgba(0,0,0,0.1);
  -moz-box-shadow: -78px -1px 85px -11px rgba(0,0,0,0.1);
  box-shadow: -78px -1px 85px -11px rgba(0,0,0,0.1);

}

.testimonial-image img{

  padding:0 3em;
}

/****--_____NewsLetter Designs-----_______*******
#########################################*/
.newsletter-container{
  background:url(../images/newsletter-bg.png) no-repeat center;
  height: 70%;
  margin-top:5em;
}

.newsletter-content{
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;

}
.stay-touch{
  align-content: center;
  flex-grow: 1;
}

.newsletter-book-1{
  flex-grow: 1;
  height: 100%;
}

.newsletter-book-2{
  flex-grow: 2;
}


#newsletter{
  flex-grow: 1;
  flex-basis: 150px;
}

.newsletter-content h4{
  font-size:2em;
  margin-bottom:1em;
  line-height: 0.1em;
}

.newsletter-content input{
  width: 200px;
  height: 30px;
  color: rgba(164, 164, 164, 0.5);

}

.newsletter-book-1{


}
.newsletter-content p{
  font-size:.9em;
  margin-top:1em;
}

.subscribe-button{
  background-color: #F21CA8;
  padding:1em 2em;
  color: white;
  font-size: 1.2em;
}


/******-______-----Footer Designs-----_____##
############################################*****/

footer{
  background-color: #090404;
  clear: both;
  overflow: auto;
}
.footer-container{
  width: 80%;
  margin: 0 auto;
  padding:3em 0;
}
.footer-nav{
  float: left;
}
footer svg path{
  fill:white;

}

footer svg path:hover{
  fill:#F21CA8;
}
.footer-social{
  width:200px;
  float: right;
}
.footer-social a{
  margin-left: 2em;
}

.footer-social svg{
  width: 25px;
  height: 25px;
}

.footer-nav a{
  color: white;
  letter-spacing: 0.05em;
  font-weight: 300;
  display: inline-block;
  margin-left: 2em;
}

.footer-nav a:hover{
  color:#f21ca8;
}

/****************Mobile Potrait Responsive******
*************************************/
@media only screen
  and (min-width: 320px)
  and (max-width: 480px) {

	header {
    height: 100%;
    background: url(asset/images/header-intro.jpg);
    background-size:cover;
	background-color:#2CBED1;
}

    .intro-content {
        margin:0 auto;
        width:340px;
        padding-top: 8em;
    }

	.intro-content h1 {
    font-size:2em;
    padding: 0.5em 0 0.5em 0.2em;
    font-family: "Arial Rounded MT Bold",Helvetica;
    color: white;
    letter-spacing: 0.05em;
    margin-bottom:0em;
}
.headline{
  background-color:#ED38AE;
  padding:0.5em 1em 0.5em 0.3em;
  border-radius: 5em;

}
.intro-content p {
    text-align: left;
    color: white;
    line-height: 1.4em;
    letter-spacing: 0.05em;
    width:70%;
    margin-left:1em;
    font-family: Montserrat;
    font-weight: 300;
}

/*What we offer-content*/

/*******-------What we offer Area Styles ------*****/
.what-we-offer-area{
  width:80%;
  margin: 0 auto;
  margin-bottom: 5em;
}

.what-we-offer-area h2{
  font-weight: 300;
  text-align: center;
  color: #7E7E7E;
  letter-spacing: 0.1;

  border-bottom:1px solid #7e7e7e;
  margin: 0 auto;
  margin-bottom: 1em;
  padding:1em 0;
}
.whole-offer{
  display:block;
  /*display: flex;Mobile Design Should change flex to another*/
  margin: 0 auto;

}
.offer-list{
  width:290px;
  filter: grayscale(100%);
  -webkit-filter:grayscale(100%);
  height: 380px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;/*offer-img border radius should change*/
  margin-bottom: 5em;

}

.offer-list:hover{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  transform: scale(1.1);
  -webkit-transition: all 200ms cubic-bezier(0.525, 0.085, 0.075, 1.000);
   -moz-transition: all 250ms cubic-bezier(0.525, 0.085, 0.075, 1.000);
     -o-transition: all 250ms cubic-bezier(0.525, 0.085, 0.075, 1.000);
        transition: all 250ms cubic-bezier(0.525, 0.085, 0.075, 1.000);
}
.offer-img{

  width:100%;

  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.offer-content{
  width:90%;
  margin: 0 auto;
  color: #626262;
}

.offer-content h3{
  font-weight: 400;
}

.offer-content p{
  font-family: helvetica;
  font-weight: 300;
  line-height: 1.3em;
  font-size: 0.9em;
  height: 90px;
  overflow: auto;
}

.offer-content a{

  color: white;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  padding-bottom:1em;
  background-color: #2CBED1;
}

.offer-content h5{
  text-align: center;
  margin-bottom: 1em;
}

}
